@media (max-width: 991px) {
  .filterinmobile,
  .categoriesinput {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
}
.categoriesinput {
  line-height: 3;
  border-bottom: 2px solid gainsboro;
}
@media (max-width: 991px) {
  .categoriesinput {
    line-height: normal;
    border-bottom: none;
  }
}
.filterandresetbutton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
@media (min-width: 992px) {
  .filterandresetbutton {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    flex-direction: row;
    gap: 0;
  }
}

.resetbutton {
  border: none;
  background: none;
  transition: 0.3s;
  opacity: 0.6;
}

.resetbutton:hover {
  opacity: 1;
}
.title {
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 25px;
  cursor: pointer;
  display: flex;
  gap: 15px;
  align-items: center;
  background-color: black;
  color: white;
  padding: 9px 6px;
  border-radius: 5%;
  justify-content: space-around;
}
@media (max-width: 991px) {
  .title {
    margin: 0;
    width: 250px;
  }
}
.categoriesinput h3 {
  /* margin-top: 25px; */
}
@media (max-width: 991px) {
  .categoriesinput h3 {
    margin: 0;
  }
}

.filterchoose,
.filterrangestep {
  display: flex;
  gap: 0px 10px;
  font-weight: 600;
}
@media (max-width: 991px) {
  .filterchoose,
  .filterrangestep {
    line-height: 2;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-right: 29px;
  }
}
.filterrangestep {
  justify-content: center;
}

.filterchoose input {
  padding: 6px 9px;
  border-radius: 10%;
}

.filterchoose button {
  padding: 5px 16px;
}

@media (min-width: 992px) {
  .filterinputmobile,
  .price {
    padding: 0 0 15px 15px;
  }
}
@media (max-width: 991px) {
  .filterinputmobile,
  .price,
  .pricerange {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px 18px;
  }
}

.categoriesinput span:last-child {
  background-color: green;
  font-size: small;
  padding: 4px 7px;
}
