/* .a {
  animation: Flash infinite 1s linear alternate;
}
@keyframes Flash {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
} */
.li:hover {
  background-color: blue;
  border-radius: 10%;
  font-weight: 900;
  transition: 0.9s;
}

.cart {
  cursor: pointer;
}
.cartandllength {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
@media (max-width: 991px) {
  .cartandllength {
    margin-top: 30px;
  }
}
.cartandllength span {
  font-size: x-large;
}

.usericon {
  position: relative;
}

.dropdown {
  position: absolute;
}
.cartandsign {
  gap: 25px;
}
.signbutton {
  display: flex;
  gap: 20px;
  align-items: center;
}
.emailandlogout {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 991px) {
  .emailandlogout {
    flex-direction: column;
  }
}
/* .navbarcollapse {
      justify-content: flex-end;

}

@media (min-width: 991px) {
  .navbarcollapse {
    justify-content: flex-end;
  }
} */
.navdropdownitem {
  padding: 20px;
}
.a {
  font-size: 42px;
  font-weight: 900;
  background-color: black;
  padding: 0px 20px;
  border-radius: 15%;
  margin-right: 40px;
}
.list {
  padding: 13px 4px;
  line-height: 3.6;
  width: 250px;
  text-align: center;
}
.list a {
  letter-spacing: 5.6px;
}
.list a:first-child {
  letter-spacing: initial;
}
.list a:hover {
  font-weight: 900;
  background-color: black;
  color: white !important;
}
.list a:hover:first-child {
  background-color: initial;
  color: initial !important;
}
.list a:first-child {
  justify-content: center;
  margin: 8px 0 15px 0;
  flex-direction: column;
}
.pagelist {
  gap: 50px;
}
@media (max-width: 991px) {
  .pagelist {
    margin-top: 45px;
  }
}
.logout {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.logout button {
  display: flex;
  gap: 11px;
  letter-spacing: 4.6px;
  text-transform: uppercase;
}

.homeclick,
.Productsclick,
.ProductsActionclick {
  position: relative;
  font-weight: 800;
}
.homeclick::before,
.homeclick::after,
.Productsclick::before,
.Productsclick::after,
.ProductsActionclick::before,
.ProductsActionclick::after {
  position: absolute;
  content: "";
  top: 50%;
  width: 0%;
  height: 50%;
  border-radius: 50%;
  background-color: black;
  transform: translateY(-50%);
  transition: 0.9s;
}
.homeclick::before,
.Productsclick::before,
.ProductsActionclick::before {
  left: -23px;
}
.homeclick::after,
.Productsclick::after,
.ProductsActionclick::after {
  right: -23px;
}
.homeclick:hover,
.Productsclick:hover,
.ProductsActionclick:hover {
  color: white !important;
  z-index: 1;
}
.homeclick:hover::before,
.homeclick:hover::after,
.Productsclick:hover::before,
.Productsclick:hover::after,
.ProductsActionclick:hover::before,
.ProductsActionclick:hover::after {
  width: 100%;
  height: 100%;
  border-radius: 5%;
  padding: 20px;
  z-index: -1;
}

.navbarcollapse {
  justify-content: space-between;
}
.h5 {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 7%;
  margin: 5px 0 35px;
}
.list a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
